/* global ----------------------------------------------------------- */
:root {
    /* red - Erro*/
    --cds-color-red-100:
    #FEECEC;
    --cds-color-red-500:
    #F94040;
    --cds-color-red-700:
    #BB3030;
    /* green - Sucesso */
    --cds-color-green-100:
    #E8F7EE;
    --cds-color-green-500:
    #15AB51;
    --cds-color-green-700:
    #10803D;
    /* blue - Ativo */
    --cds-color-blue-100:
    #EAEEFC;
    --cds-color-blue-500:
    #2B59E4;
    --cds-color-blue-700:
    #2043AB;
    /* neutral - Cinzas */
    --cds-color-neutral-100:
    #F4F4F5;
    --cds-color-neutral-200:
    #E4E4E7;
    --cds-color-neutral-300:
    #D4D4D8;
    --cds-color-neutral-400:
    #A1A1AA;
    --cds-color-neutral-500:
    #71717A;
    --cds-color-neutral-700:
    #3F3F46;
    /* container */
    --stroke: 2px;
    --border-radious: 4px;
    /* Blackpace-icon */
    --icon-size: 24px;
    /* text */
    --font-family: 'public-sans'
    --line-height: 130%;
    --font-weight: 500;
    --font-size: 14px;
    /* label */
    --line-height: 100%;
    --font-weight: 600;
    --font-size: 10px;
    --font-size: 10px;
    /* Assistive-text */
    --line-height: 100%;
    --font-weight: 500;
    --font-size: 12px;
    }

    section {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    }

   input{
    display: flex;
    padding: 0 12px 0 16px;
    width: 271px;
    height: 46px;
    border: var(--stroke) solid var(--cds-color-neutral-400);
    border-radius: var(--border-radius);
    font-family: var(--font-family-text);
    border-radius: 4px;
}

input:placeholder{
    color: var(--cds-color-neutral-400);
    font-size: var(--font-size-text);
}
  
input:hover{
    color: #52525B;
    border-color: #52525B;
}

/* FULLED */
.small-text {
    font-size: 12px;
    display: block;
}
/* DISABLE */
.Disable {
    color: #A1A1AA;
    border-color:var(--cds-color-neutral-200);
}
/* ACTIVATED */
.Activated {
    color:#52525B;
    border-color: var(--cds-color-blue-500);
}

/* REQUIRED */
.Riquired {
    border-color: var(--cds-color-red-500);
}
/* SUCESS */
.Success {
    border-color: var(--cds-color-green-500);
}
/* assistive-TEXT */
.assistive-text {
    color: #52525B;
    line-height: var(--line-height);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
}   
